{% if contact.address %}
    {% set streetAddress = contact.address.streetAddress|t %}
    {% set region = contact.address.region|t %}
    {% set locality = contact.address.locality|t %}
    {% set country = contact.address.country|t %}
    {% if contact.address.postOfficeBoxNumber or contact.address.postalCode or country or locality or region or streetAddress %}
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            {{ 'label.address'|trans({},'FDevsContactUsBundle') }}:
            {% if streetAddress %}<span itemprop="streetAddress">{{ streetAddress }}</span>{% endif %}
            {% if contact.address.postalCode %}<span
                    itemprop="postalCode">{{ contact.address.postalCode }}</span>{% endif %}
            {% if contact.address.postOfficeBoxNumber %}<span
                    itemprop="postOfficeBoxNumber">{{ contact.address.postOfficeBoxNumber }}</span>{% endif %}
            {% if region %}<span itemprop="addressRegion">{{ region }}</span>{% endif %}
            {% if locality %}<span itemprop="addressLocality">{{ locality }}</span>{% endif %}
            {% if country %}<span itemprop="addressCountry">{{ country }}</span>{% endif %}
        </div>
    {% endif %}
{% endif %}
<ul class="list-inline social-buttons">
    {% for oneConnect in contact.connectList %}
        {{ connect(oneConnect) }}
    {% endfor %}
</ul>
